<div class="my-8">
  <%= form_with(model: blog) do |form| %>
    <% if blog.errors.any? %>
      <div style="color: red">
        <ul>
          <% blog.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "bg-[#191919] border-[#4a4a4a] my-2 w-full" %>
    </div>
  
    <div class="my-4">
      <%= form.label :body, style: "display: block", class:"pb-3"  %>
      <%= form.rich_text_area :body, class: "block my-2 w-full" %>
    </div>
  
    <div>
        <span class="text-xs px-4 py-2 rounded-full bg-[#111111] border border-[#4a4a4a] text-[#eaeaea] mr-2 hover:border-green-900 hover:bg-green-700"><%= form.submit %></span>
    </div>
  <% end %>
</section>
