<section>

<%# render navbar partial from shared %>
<%= render "shared/navbar" %>

<%# render notice %>
<p class="text-green-700"><%= notice %></p>

  <div class="mt-10">
    <h1 class="text-green-700 font-bold py-1">Blogs</h1>
    
    <div id="blogs">
      <% @blogs.each do |blog| %>
        <%= render blog %>
        <div class="space-x-8">
          <%= link_to "Show this blog", blog, class:"hover:underline" %>
          <%= link_to "New blog", new_blog_path, class:"hover:underline" %>
        </div>
      <% end %>
    </div>
  
  </div>

</section>
