<section class="w-3/5 mx-auto" >

   <div class="mt-5">
       <div class=" flex justify-center shadow-sm sm:p-6 md:p-8">

        <% if notice.present? %>
            <div class="flex pt-3 self-start text-sm text-green-700" role="alert">
                <%= notice %>
            </div>
        <% end %> 
        
           <%= form_with(scope: :user, class: "space-y-6 py-6 px-8 bg-[#111] rounded-sm border border-[#4a4a4a]") do |form| %>
           
        <%# return Arrow %>
        <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4a4a4a" class="w-6 h-6 hover:stroke-[#7e7e7e] ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                </svg>
        <% end %>

               <h5 class="text-xl font-medium text-[#eaeaea]">Create a Free Account</h5>

               <div class="flex space-x-6 ">
                   <div>
                       <%= form.label :first_name, "First Name", class: "block mb-2 text-sm font-medium text-[#eaeaea] dark:text-gray-300" %>
                       <%= form.text_field :first_name, placeholder: "Enter Your First Name", class: "bg-[#191919] border border-[#4a4a4a] text-[#eaeaea] text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-[13rem] p-2.5 dark:bg-gray-600 dark:border-gray-500 placeholder-[#636363] dark:text-white" %>
                   </div>
                   <div>
                       <%= form.label :last_name, "Last Name", class: "block mb-2 text-sm font-medium text-[#eaeaea] dark:text-gray-300" %>
                       <%= form.text_field :last_name, placeholder: "Enter Your Last Name", class: "bg-[#191919] border border-[#4a4a4a] text-[#eaeaea] text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-[13.2rem] p-2.5 placeholder-[#636363] " %>
                   </div>
               </div>

               <div>
                   <%= form.label :email, "Email", class: "block mb-2 text-sm font-medium text-[#eaeaea] dark:text-gray-300" %>
                   <%= form.email_field :email, placeholder: "name@company.com", class: "bg-[#191919] border border-[#4a4a4a] text-[#eaeaea] w-[27.8rem] text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-[27.6rem] p-2.5 placeholder-[#636363]" %>
               </div>

               <div class="flex space-x-6">
                   <div>
                       <%= form.label :password, "Enter password", class: "block mb-2 text-sm font-medium text-[#eaeaea] dark:text-gray-300" %>
                       
                       <%= form.password_field :password, placeholder: "•••••••••••", class: "bg-[#191919] border border-[#4a4a4a] text-[#eaeaea] text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-[13rem] p-2.5 dark:bg-gray-600 dark:border-gray-500 placeholder-[#636363] dark:text-white" %>
                   </div>

                   <div>
                       <%= form.label :password_confirmation, "Confirm Your password", class: "block mb-2 text-sm font-medium text-[#eaeaea] dark:text-gray-300" %>
                       <%= form.password_field :password_confirmation, placeholder: "•••••••••••", class: "bg-[#191919] border border-[#4a4a4a] text-[#eaeaea] text-sm rounded-sm focus:ring-green-500 focus:border-green-500 block w-[13.4rem] p-2.5 dark:bg-gray-600 dark:border-gray-500 placeholder-[#636363] dark:text-white" %>
                   </div>
               </div>



                <%= form.submit "Create your account", class: "w-[28rem] text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-sm text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
               

            <div class="flex justify-center ">
               <div class="text-sm font-medium text-[#4a4a4a] dark:text-[#4a4a4a]">
                   Already have an account? 
                   <span class="text-green-700 hover:underline hover:text-green-600">
                   <%= link_to "Sign In",  sign_in_path %>
                   </span>
               </div>
            </div>

           <% end %>

       </div>
   </div>
</section>