<nav class="fixed top-0 left-50% w-3/5 mx-auto bg-[#111111] border-b border-[#4a4a4a] px-2 sm:px-4 py-3 dark:bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">

  <%# linkto root path %>
    <%= link_to "Blogger", root_path, class: "text-[#eaeaea] hover:text-[#cdcdcd] font-bold text-xl" %>

  <div class="flex md:order-2 space-x-2">
  
    <% if @user_signed_in %>
      <button>
        <%= link_to "View your posts", blogs_path, class: "text-[#eaeaea] bg-[#111] border border-[#4a4a4a] hover:bg-[#1e1e1e] font-medium rounded-full text-sm px-5 py-2.5 text-center mr-3 md:mr-0" %>
      </button>
      
      <button type="button" class="text-[#eaeaea] bg-[#111] border border-[#4a4a4a] hover:bg-[#1e1e1e] font-medium rounded-full text-sm px-5 py-1.5 text-center mr-3 md:mr-0">
          <%= link_to new_blog_path do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></svg>
          <% end %>
      </button>
    <% else %>
      <button><%= link_to "Sign In", sign_in_path, class: "text-[#eaeaea] hover:text-[#cdcdcd] font-medium rounded-full text-sm px-5 text-center mr-3 md:mr-0" %></button>

      <button><%= link_to "Create an Account", sign_up_path, class: "text-[#eaeaea] bg-[#111] border border-[#4a4a4a] hover:bg-[#1e1e1e] font-medium rounded-full text-sm px-5 py-2.5 text-center mr-3 md:mr-0" %></button>
    <% end %>
  </div>
 
  </div>
</nav>
